
<div class="hero">
  <br />

  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn Magic from the Pros</h1>
    <br />
    <h2>I'm an illusionist, Michael.</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success'%>
    <br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Great Courses</h3>
    <br />
    <p> Variety of topics taught by students just like you!</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Take your time</h3>
    <br />
    <p> Everyone learns at a different rate. So don't rush but do learn.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Be a part of something</h3>
    <br />
    <p> Join our community of students who never stop learning together</p>
  </div>
</div>